* {
  box-sizing: border-box;
}
body {
  background-color: rgb(213, 213, 213);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 0;
  margin: 0;
}
.heading {
  font-weight: 700;
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
}
.user-input-group {
  display: flex;
  justify-content: space-between;
  margin: 10px 100px;
}
.info-table {
  width: 100vw;
  text-align: center;
}
table,
td {
  border-collapse: collapse;
}
thead {
  background-color: rgb(72, 0, 255);
  color: white;
}
thead td {
  padding: 10px 0;
  margin: 0;
}
